form:has(input[type='range']) {
	width: fit-content;
	min-height: 160px;
	aspect-ratio: 1 / 1;
}

input[type='range'] {
	appearance: none;
	-webkit-appearance: none;
	transform: rotateZ(-90deg);
	width: 160px;
	height: 35px;
	margin-top: 75px;
	background: linear-gradient(to right, var(--color-interface-dark) 0%, var(--color-interface-dark) 100%);
	background-size: 150px 10px;
	background-position: center;
	background-repeat: no-repeat;
	outline-color: transparent;
}

input[type='range']::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	width: 25px;
	height: 35px;
	border: 6px solid var(--color-interface-dark);
	z-index: 3;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

input[type='range']:first-of-type::-webkit-slider-thumb {
	background-color: var(--color-primary);
}
