@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('./onOffButton.css');
@import url('./pc.css');
@import url('./radar.css');
@import url('./scan.css');
@import url('./slider.css');
@import url('./sticky.css');

*::after,
*::before {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

:root {
	--color-interface-light: #70809d;
	--color-interface-medium: #475265;
	--color-interface-dark: #222630;

	--color-primary: #eb5d2d;
	--color-primary-dark: #d05329;
	--color-secondary: #20b6b4;
	--color-secondary-dark: #1b9c9a;
	--color-tertiary: #e1e3ef;
	--color-tertiary-dark: #d2d4df;
	--font: 'Space Mono', monospace;
}

body {
	margin: 0;
	background-color: var(--color-tertiary-dark);
	--l: var(--s1-x);
}
[data-s1-x='0'] + body {
	--s1-x: 100%;
}
[data-s1-x='1'] + body {
	--s1-x: 95.5%;
}
[data-s1-x='2'] + body {
	--s1-x: 91%;
}
[data-s1-x='3'] + body {
	--s1-x: 86.5%;
}
[data-s1-x='4'] + body {
	--s1-x: 82%;
}
[data-s1-x='5'] + body {
	--s1-x: 77.5%;
}
[data-s1-x='6'] + body {
	--s1-x: 73%;
}
[data-s1-x='7'] + body {
	--s1-x: 68.5%;
}
[data-s1-x='8'] + body {
	--s1-x: 64%;
}
[data-s1-x='9'] + body {
	--s1-x: 59.5%;
}
[data-s1-x='10'] + body {
	--s1-x: 55%;
}

/* prettier-ignore */
[data-name='controls']:has(> label input:checked) + [data-name='pc'] [data-name='radar'] > div,
[data-name='controls']:has(> label input:checked) + [data-name='pc'] [data-name='radar'] > div > div,
[data-name='controls']:has(> label input:checked) + [data-name='pc'] > div:last-of-type > div:nth-of-type(3) > div > label:has(input:checked) + span::after {
	animation-play-state: running;
}

input[type='checkbox'] {
	position: absolute;
	visibility: hidden;
}

[data-name='controls'] {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	width: 40%;
	height: calc(100vh - 4em);
	margin: 2em 2em 2em auto;
	font-family: 'Space Mono', monospace;
	background-color: var(--color-interface-light);
}
[data-name='controls'] > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
